* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.form {
  background-color: #000000;
}
@media (min-width: 960px) {
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 296px;
    padding-bottom: 178px;
  }
}

.form__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fafafa;
  margin-top: 171px;
}
@media (min-width: 960px) {
  .form__title {
    margin: 0;
  }
}

.form__fieldsets-container {
  margin-top: 72px;
}
@media (min-width: 960px) {
  .form__fieldsets-container {
    margin-top: 0;
  }
}
